<!-- templates/fragments/header.html -->
<header class="bg-white shadow-sm mb-4" th:fragment="header">
  <nav class="navbar navbar-expand-lg navbar-light container">
    <div class="navbar-brand d-flex align-items-center">
      <img
        src="../../static/img/image.png"
        alt="Logo MiNegocio"
        width="50"
        class="me-2"
      />
      <span class="fw-bold">MiNegocio</span>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <span class="nav-link active">Inicio</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/registro}">Registro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/login}">Iniciar Sesión</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
